body {
    background-image: linear-gradient(darkslateblue, plum);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
}

.logo {
    width: 12em;
}

.user-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    color: aliceblue;
    border: none;
    width: 7em;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content{
    display: block
}

.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown-content a {
    display: block;
    color: aliceblue;
    text-align: right;
    text-decoration: none;
    padding-top: 10px;
}

.dropdown-content a:hover{
    text-decoration: underline;
}

.user-button:focus{
    outline: none;
}

.user-image {
    width: 2.5em;
}

main {
    height: calc(100vh - 4em);
}

.buscador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buscador {
    border-style: solid;
    border-color: aliceblue;
    border-radius: 2em;
    font-size: 16px;
    height: 2.5em;
    width: 50%;
    background-color: rgba(133, 128, 163, 0.40);
    color: aliceblue;
    padding: 8px 20px 8px 20px;
}

.buscador:focus {
    outline: none;
}
